<div class="container py-3">
    <div class="row">
        <div class="col-md-6">
            <h2>Mobile Phone Usage Tracker</h2>
        </div>
        <div class="col ml-auto text-right">
            <button type="button" class="btn btn-outline-success" (click)="onAddMobile()">Add Record</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4" *ngFor="let item of mobiles">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{item.time}} Hours</h6>
                    <h6>{{item.date}}</h6>
                    <span class="badge badge-success">{{item.mood}}</span>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" [class.show]="showModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Records</h5>
                <button (click)="onCloseModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                </span>
            </button>
            </div>
            <form [formGroup]="mobForm" (ngSubmit)="onMobSubmit()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Enter Name</label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="">Enter Time (in hours)</label>
                        <input type="number" class="form-control" formControlName="time">
                    </div>
                    <div class="form-group">
                        <label for="">Enter Date</label>
                        <input type="date" class="form-control" formControlName="day">
                    </div>
                    <div class="form-group">
                        <label for="">Enter Mood</label>
                        <input type="text" class="form-control" formControlName="mood">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="onCloseModal()" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-primary">{{'Add Record'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
